/Examples/CStartup/.project
/Examples/CStartup/.settings
/Examples/CStartup/.cproject
/Examples/VPTemplate/build
/Examples/VPTemplate/obj
/Examples/Stack/*.bin
/Examples/Stack/*.elf
/Examples/Stack/*.o
